$header-height: 5vh;
$footer-height: 10vh;
$metadata-color: #c4c4c4;
$meta-font-size: 1.5vh;
$title-font-size: 3vh;

@font-face {
  font-family: "JetBrainsMono";
  src: url("/assets/css/JetBrainsMono-Regular.woff2") format("woff2");
}

body {
  max-width: 60rem;
  margin: auto;
  padding: auto;
  padding-left: 5vh;
  padding-right: 5vh;
  background-color: #303030;
  font-family: JetBrainsMono;
  color: #f3f4f5;
}

.container-wrapper {
  position: relative;
  min-height: 100vh;
}

.content-wrapper {
  padding-top: $header-height;
  padding-bottom: $footer-height;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  color: $metadata-color;
  font-size: $meta-font-size;
  height: $footer-height;
  line-height: $footer-height;
}

.footer-left,
.footer-right {
  float: left;
}

.footer-left {
  text-align: left;
  margin-right: 5vh;
}

.footer-right {
  text-align: right;
}

a {
  color: #f3f4f5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline;
  color: $metadata-color;
}

li h1 {
  font-size: $title-font-size;
  padding-left: 2vh;
}

li h5 {
  font-size: $meta-font-size;
}

.post h1 {
  font-size: $title-font-size;
  margin-bottom: 0vh;
}

.post h2 {
  position: relative;
  font-size: 3vh;
}

.post h2:before {
  position: absolute;
  left: -3vh;
  content: "~";
  color: #fcba03;
}

.post .metadata {
  color: $metadata-color;
  padding-bottom: 2vh;
  font-size: $meta-font-size;
}

.post .content {
  font-size: 2vh;
}

.post a {
  text-decoration: underline;
}
